@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply selection:bg-secondary selection:text-slate-300;
}

@layer base {
  html {
    @apply scroll-smooth;
  }

  /* * {
    @apply text-black;
  } */
}

.loading {
   position: relative;
   width: 22.4px;
   height: 22.4px;
}

.loading::before,
.loading::after {
   --radius: 250;
   content: '';
   position: absolute;
   width: 100%;
   height: 100%;
   animation: loading-w7nm60 2s infinite linear;
   background: #474bff;
   border-radius: 50%;
}

.loading::before {
   --radius: -250;
   background: #dbdcef;
}

@keyframes loading-w7nm60 {
   0% {
      transform: scale(1) rotate(0deg) translateY(calc(var(--radius) * 1%));
   }

   50% {
      transform: scale(0.5) rotate(1440deg) translateY(0);
   }

   100% {
      transform: scale(1) rotate(2920deg) translateY(calc(var(--radius) * 1%));
   }
}

.hamburger-line {
  @apply w-[30px] h-[2px] my-2 block bg-dark;
}

.hamburger-active > span:nth-child(1) {
  @apply rotate-45;
}

.hamburger-active > span:nth-child(2) {
  @apply scale-0;
}

.hamburger-active > span:nth-child(3) {
  @apply -rotate-45;
}

.navbar-fixed {
  @apply fixed z-[9999] bg-white bg-opacity-70 backdrop-blur-sm;
  box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.2);
}

.slide-in {
  animation: slideIn 0.3s forwards;
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

.slide-out {
  animation: slideOut 0.3s forwards;
}

@keyframes slideOut {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(150%);
  }
}